# Project exclude paths
/.gradle/
/common/build/
/common/build/classes/kotlin/main/
/proxy/build/
/proxy/build/classes/kotlin/main/
/server/build/
/server/build/classes/kotlin/main/

# Jetbrains
.idea/

# Plugin output
/output/